
## <summary>policy for spark</summary>


########################################
## <summary>
##	Transition to spark.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`spark_domtrans',`
	gen_require(`
		type spark_t, spark_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, spark_exec_t, spark_t)
')


########################################
## <summary>
##	Execute spark server in the spark domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`spark_initrc_domtrans',`
	gen_require(`
		type spark_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, spark_initrc_exec_t)
')


########################################
## <summary>
##	Search spark lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`spark_search_lib',`
	gen_require(`
		type spark_var_lib_t;
	')

	allow $1 spark_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read spark lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`spark_read_lib_files',`
	gen_require(`
		type spark_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, spark_var_lib_t, spark_var_lib_t)
')

########################################
## <summary>
##	Manage spark lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`spark_manage_lib_files',`
	gen_require(`
		type spark_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, spark_var_lib_t, spark_var_lib_t)
')

########################################
## <summary>
##	Manage spark lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`spark_manage_lib_dirs',`
	gen_require(`
		type spark_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, spark_var_lib_t, spark_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a spark environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`spark_admin',`
	gen_require(`
		type spark_t;
		type spark_initrc_exec_t;
		type spark_var_lib_t;
	')

	allow $1 spark_t:process { ptrace signal_perms };
	ps_process_pattern($1, spark_t)

	spark_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 spark_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, spark_var_lib_t)

')

